[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
yfinance = "*"
plotly = "*"
scikit-learn = "*"
tensorflow = "*"
validate-email = "*"
python-dotenv = "*"
pipreqs = "*"

[dev-packages]

[requires]
python_version = "3.11"
